/* Button {
    color: white;
    font-size: 2rem;
    width: 30%;
    height: 12%;
    margin: 10px 10px;
    border: none;
    border-radius: 5px;
    background-color: #4E2A84;
    -webkit-filter: brightness(100%);
} */

/* yemis part */