/* Yemi's part */

.btn {
    color: white;
    font-size: 2rem;
    width: 50%;
    margin: 10px 10px;
    padding: 20px 0;
    border: none;
    border-radius: 5px;
}

.btn:hover {
    cursor: pointer;
    transition: 0.2s ease-out;
}

.btn-checked-in {
    background-color: #a51212;
}

.btn-checked-out {
    background-color: #4E2A84;
}